<h3>Связаться с нами</h3>
<div class="mt-4">
  <app-caption-label-text label="Контактный телефон (WhatsApp)">
    <app-number-text-link/>
  </app-caption-label-text>
  <hr>
</div>
<div class="mt-3">
  <app-caption-label-text label="Telegram">
    <app-telegram-account-text/>
  </app-caption-label-text>
  <hr>
</div>
<div class="mt-3">
  <app-caption-label-text label="ВКонтакте">
    <app-vk-page-text/>
  </app-caption-label-text>
  <hr>
</div>
<div class="mt-3">
  <app-caption-label-text label="Адрес">
    <app-address-text/>
  </app-caption-label-text>
  <hr>
</div>
<div class="mt-3">
  <app-caption-label-text label="Время работы">
    {{info.workTime}}
  </app-caption-label-text>
  <hr>
</div>
