<div class="container-fluid mt-3" style="max-width: 850px;">
  <div class="d-flex justify-content-center mb-2">
    <img class="rounded-circle" style="width: 150px" src="//taplink.st/a/7/c/5/c/34c59e.jpg?1" alt="asd">
  </div>
  <p class="text-center mb-2">mr.farakhov</p>
  <a href="" appNavigateVk>
    <button >⇒ Vk ⇐</button>
  </a>
  <a>
    <button appNavigateWhatsUp>⇒ WhatsApp ⇐</button>
  </a>
  <a>
    <button>⇒ Viber ⇐</button>
  </a>
  <p>🛠 Сервисный центр «Black Red Planet» — это уникальная планета ремонта, мы выполняем работу любой сложности, в кратчайшие сроки, а самое главное качественно❗</p>
  <div class="mt-3">
    <p>Самые распространённые виды работ:</p>
    <ul>
      <li>Наклеим защитное стекло от 99₽</li>
      <li>Решение проблем с ПО устройства от 190₽</li>
      <li>Ремонт фронтальной камеры от 750₽</li>
      <li>Ремонт основной камеры от 590₽</li>
      <li>Ремонт дисплея от 750₽</li>
      <li>Ремонт тачскрина от 590₽</li>
      <li>Замена аккумулятора от 750₽</li>
      <li>Ремонт кнопки от 800₽</li>
      <li>Ремонт разговорного динамика от 750₽</li>
      <li>Ремонт основного динамика от 800₽</li>
    </ul>
  </div>

  <div class="mt-3">
    <p>Почему именно мы❓</p>
    <ul>
      <li>🆓 Бесплатная диагностика, и ни к чему не обязывает</li>
      <li>✅ Железобетонная гарантия на ремонта до 6 месяцев 📅</li>
      <li>⏱ 30 минут среднее время ремонта❗</li>
      <li>🧹 Бесплатная чистка технических отверстий при ремонте устройства❗</li>
      <li>🔋 Бесплатно зарядим ваше устройство</li>
      <li>🏧 Оплата услуг ремонта, только при получении</li>
      <li>💈 Скидки предоставляются по условиям текущих акций и обладателям дисконтных карт, а так же: пенсионерам, студентам, инвалидам, ветеранам ВОВ, сиротам, малоимущим</li>
    </ul>
  </div>

  <div class="mt-3">
    🏬 Ждём Вас по адресу: г. Казань, ул. Чапаева, д.16 <br>
    [Более точный адрес выдаётся по запросу] <br>
    ⏰ С ПН по ВС с 10:00 до 22:00, без обеда <br>
    🌟 Удобное месторасположение — в 2-х минутах ходьбы 👣 от ТЦ 💈 «Бахетле» <br>
    В 3-х минутах ходьбы 👣 от остановки 🚏 «Ленинградская» <br>
    🚌 Автобусы: 6, 18, 33, 37, 40, 42, 43, 53, 60, 78, 89, 93 <br>
    🚎 Троллейбус: 13 <br>
    В 10-ти минутах ходьбы 👣 от станции метро 🚇 «Авиастроительная» <br>
    🅿 Бесплатная парковка❗ <br>
  </div>

</div>
