<div class="container-fluid mt-3" style="max-width: 850px;">
  <div class="d-flex justify-content-center mb-2">
    <img class="rounded-circle" style="width: 150px" src="//taplink.st/a/7/c/5/c/34c59e.jpg?1" alt="asd">
  </div>
  <p class="text-center mb-2">mr.farakhov</p>
  <a href="" appNavigateVk>
    <button >⇒ Vk ⇐</button>
  </a>
  <a>
    <button appNavigateWhatsUp>⇒ WhatsApp ⇐</button>
  </a>
  <a>
    <button>⇒ Viber ⇐</button>
  </a>
  🛠 Сервисный центр «Black Red Planet» — это уникальная планета ремонта, мы выполняем работу любой сложности, в кратчайшие сроки, а самое главное качественно❗
</div>
