<ng-template #h>
  <div class="d-flex align-items-center gap-3">
    <span>Отзывы <span class="app-primary-color">наших клиентов</span></span>
  </div>
</ng-template>

<app-main-page-section [sectionHeader]="h">
  <owl-carousel-o [options]="owlCarouselOptions">
    <ng-container *ngFor="let r of reviews">
      <ng-template carouselSlide>
        <app-review class="p-4 d-block h-100" [review]="r"></app-review>
      </ng-template>
    </ng-container>
  </owl-carousel-o>
</app-main-page-section>
