<ng-template #header>До нас <span class="app-primary-color">легко добраться</span></ng-template>

<app-main-page-section [sectionHeader]="header">
  <div class="row row-gap-5">
    <div class="col-12 col-md-6">
      <div class="app-card app-black-color d-inline-block">
        <h3 class="mb-4">Контакты</h3>
        <div class="mb-3">
          <p class="app-caption mb-2">Контактный телефон (WhatsApp)</p>
          <app-number class="fw-medium"/>
          <hr>
        </div>
        <div class="mb-3">
          <p class="app-caption mb-2">Telegram</p>
          <a class="fw-medium" appNavigateTelegram>{{info.telegram}}</a>
          <hr>
        </div>
        <div class="mb-3">
          <p class="app-caption mb-2">ВКонтакте</p>
          <a class="fw-medium" appNavigateVk>{{info.vkNickName}}</a>
          <hr>
        </div>
        <div class="mb-3">
          <p class="app-caption mb-2">Адрес</p>
          <p class="fw-medium mb-2">{{info.address}}</p>
          <hr>
        </div>
        <div class="mb-4">
          <p class="app-caption mb-2">Время работы</p>
          <div class="fw-medium mb-2">
            <p>{{info.workTime}}</p>
          </div>
          <hr>
        </div>
        <ng-template #fuckingModal let-modal>
          <div class="p-sm-5 p-4 app-black-color d-flex flex-column gap-3">
            <h3>Заказать звонок</h3>
            <p>Оставьте свои контактные данные и наш директор свяжется с Вами в течение 15 минут.</p>
            <app-input label="Как Вас зовут*"/>
            <app-number-input label="Телефон*"/>
            <app-input label="Модель устройства"/>
            <app-text-area label="Неисправность"/>
            <button (click)="modal.close()">Отправить</button>
            <p class="app-caption">Нажимая «Заказать звонок», Вы соглашаетесь на обработку указанных данных ИП «Фарахов Марсель Радикович» на условиях Политики конфиденциальности</p>
          </div>
        </ng-template>
        <button (click)="openModal(fuckingModal)">Заказать звонок</button>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="p-2 h-100">
        <div id="map" class="w-100 h-100 app-shadow" style="min-height: 300px">
          <app-yandex-map/>
        </div>
      </div>
    </div>
  </div>
</app-main-page-section>
