<ng-template #header>До нас <span class="app-primary-color">легко добраться</span></ng-template>

<app-main-page-section [sectionHeader]="header">
  <div class="row row-gap-5">
    <div class="col-12 col-md-6">
      <div class="app-card app-black-color d-inline-block">
        <h3 class="mb-4">Контакты</h3>
        <div class="mb-3">
          <p class="app-caption mb-2">Контактный телефон (WhatsApp)</p>
          <app-number class="mb-2"/>
          <hr>
        </div>
        <div class="mb-3">
          <p class="app-caption mb-2">Telegram</p>
          <a [href]="info.telegramUrl">{{info.telegram}}</a>
          <hr>
        </div>
        <div class="mb-3">
          <p class="app-caption mb-2">ВКонтакте</p>
          <a [href]="info.vkUrl">{{info.vkNickName}}</a>
          <hr>
        </div>
        <div class="mb-3">
          <p class="app-caption mb-2">Адрес</p>
          <p class="fw-medium mb-2">{{info.address}}</p>
          <hr>
        </div>
        <div class="mb-4">
          <p class="app-caption mb-2">Время работы</p>
          <div class="fw-medium mb-2">
            <p>{{info.workTime}}</p>
          </div>
          <hr>
        </div>
        <ng-template #fuckingModal let-modal>
          <div class="p-5 app-black-color d-flex flex-column gap-3">
            <h3>Связаться с нами</h3>
            <p>Оставьте свои контактные данные и наши менджеры свяжутся
              с Вами в течение 15 минут для уточнения деталей заказа.</p>
            <app-input [inputConfig]="{label: 'Ваше имя', type: 'text'}"/>
            <app-number-input/>
            <div class="d-flex justify-content-between gap-3 flex-column-reverse flex-lg-row">
              <div class="d-flex align-items-center form-check">
                <label><input type="checkbox" class="form-check-input"> Я согласен с правилами <a>обработки персональных данных</a></label>
              </div>
              <button (click)="modal.close()">Отправить</button>
            </div>
          </div>
        </ng-template>
        <button (click)="openModal(fuckingModal)">Связаться с нами</button>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="p-2 h-100">
        <div id="map" class="w-100 h-100 app-shadow" style="min-height: 300px">
          <app-yandex-map/>
        </div>
      </div>
    </div>
  </div>
</app-main-page-section>
