<ng-template #header>До нас <span class="app-primary-color">легко добраться</span></ng-template>

<app-service-center-page-section [sectionHeader]="header">
  <div class="row row-gap-5">
    <div class="col-12 col-md-6">
      <div class="app-card app-black-color d-inline-block">
        <h3 class="mb-4">Контакты</h3>
        <div>
          <app-caption-label-text label="Контактный телефон (WhatsApp)">
            <app-number-text-link/>
          </app-caption-label-text>
          <hr>
        </div>
        <div class="mt-3">
          <app-caption-label-text label="Telegram">
            <app-telegram-account-text/>
          </app-caption-label-text>
          <hr>
        </div>
        <div class="mt-3">
          <app-caption-label-text label="ВКонтакте">
            <app-vk-page-text/>
          </app-caption-label-text>
          <hr>
        </div>
        <div class="mt-3">
          <app-caption-label-text label="Адрес">
            <app-address-text/>
          </app-caption-label-text>
          <hr>
        </div>
        <div class="mt-3">
          <app-caption-label-text label="Время работы">
            {{info.workTime}}
          </app-caption-label-text>
          <hr>
        </div>
        <button appContactUsModal class="mt-3">Связаться с нами</button>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="p-2 h-100">
        <div id="map" class="w-100 h-100 app-shadow" style="min-height: 300px"></div>
      </div>
    </div>
  </div>
</app-service-center-page-section>
