<app-billboard class="app-white-color" backgroundImageUrl="../../assets/smartphone-repair.jpg">
  <div class="container-fluid">
    <div class="row align-items-center row-gap-4">
      <div class="col-12 col-md-6">
        <h1 class="mb-4">Сервисный центр в Казани</h1>
        <button class="app-btn-big mx-auto d-block d-md-inline">Заказать звонок</button>
      </div>
      <div class="col-12 col-md-6">
        <div class="fw-bold d-flex gap-4 flex-column">
          <div class="d-flex align-items-center gap-3">
            <div class="align-self-start">
              <app-clock-icon/>
            </div>
            <span>Работаем ежедневно с 10:00 до 00:00, без выходных</span>
          </div>
          <div class="d-flex align-items-center gap-3">
            <div class="align-self-start">
              <app-timer-icon/>
            </div>
            <span>15 минут среднее время работы, можем сделать при Вас</span>
          </div>
          <div class="d-flex align-items-center gap-3">
            <div class="align-self-start">
              <app-shield-icon/>
            </div>
            <span>Железобетонная гарантия 12 месяцев на всё</span>
          </div>
          <div class="d-flex align-items-center gap-3">
            <div class="align-self-start">
              <app-wallet-icon/>
            </div>
            <span>Оплата после получения результата, наличным, переводом или Trade-in</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-billboard>
