<div class="navbar p-0 app-black-color bg-white">
  <div class="container-fluid app-container">
    <div class="d-flex flex-column w-100">
      <div class="d-flex align-items-center justify-content-between navbar-height">
        <div class="d-flex gap-2 app-black-interactive" routerLink="/">
          <img src="../../../../assets/logo-short.png" alt="" style="height: 32px">
          <h3 class="fw-medium align-self-end position-relative d-none d-sm-block" style="top: 4px; white-space: nowrap;"><span class="app-primary-color">:</span> Service & Store</h3>
        </div>
        <div class="gap-4 d-none d-md-flex">
          <ng-container *ngTemplateOutlet="navigations"></ng-container>
        </div>
        <div class="d-flex align-items-center gap-2">
          <a class="d-flex align-items-center gap-2 app-link" href="tel:+79377748577">
            <app-phone></app-phone>
            <h5 class="fw-medium d-none d-sm-block">{{info.formattedPhoneNumber}}</h5>
          </a>
          <app-burger class="d-block ms-3 me-3 d-md-none app-black-interactive" (click)="toggleBurger()"></app-burger>
        </div>
      </div>
      <div *ngIf="isBurgerTouched" @dropDown>
        <hr>
        <div class="d-flex d-sm-none flex-column gap-4 align-items-center my-4">
          <ng-container *ngTemplateOutlet="navigations"></ng-container>
        </div>
        <div class="d-none d-md-none d-sm-flex gap-5 justify-content-center my-4">
          <ng-container *ngTemplateOutlet="navigations"></ng-container>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #navigations>
  <span class="app-link" routerLink="/">Главная</span>
  <span class="app-link">Услуги</span>
  <span class="app-link">Отзывы</span>
</ng-template>
