<app-navbar></app-navbar>

<div class="after-navbar">
  <app-billboard backgroundImageUrl="../../assets/smartphone-repair.jpg">
    <div class="row align-items-center row-gap-4">
      <div class="col-12 col-md-6">
        <h1 class="mb-4 fw-bold">Ремонт телефонов в Казани</h1>
        <button class="app-button px-5 py-3 mx-auto d-block d-md-inline">
          <h6>Оставить заявку</h6>
        </button>
      </div>
      <div class="col-12 col-md-6">
        <div class="fw-bold">
          <ng-template #clockIcon><app-clock-icon/></ng-template>
          <app-icon-text class="d-block mb-2" [iconRef]="clockIcon">30 мин среднее время ремонта</app-icon-text>
          <ng-template #shieldIcon><app-shield-icon/></ng-template>
          <app-icon-text class="d-block mb-2" [iconRef]="shieldIcon">Гарантия на все виды работ и детали</app-icon-text>
          <ng-template #walletIcon><app-wallet-icon/></ng-template>
          <app-icon-text [iconRef]="walletIcon">Оплата после ремонта, картой или наличными</app-icon-text>
        </div>
      </div>
    </div>
  </app-billboard>
</div>
