$primary-color:         #FC7F23;
$primary-color-dark:    #853e0b;
$primary-color-blind:   #d9a177;

$text-primary-color:        #ffffff;
$text-primary-color-blind:  #909090;
$text-black-color: #000;

$bg-color: #ffffff;

$site-content-max-width: 1200px;

$navbar-size: 64px;
