@import "app-variables";

.app-primary-color {
  color: $app-primary-color;
}

.app-bg-primary-dark-color {
  background-color: $app-primary-color-dark;
}

.app-bg-black-color {
  background-color: $app-black-color;
}

.app-white-color {
  color: $app-white-color;
}

.app-muted-color {
  color: $app-muted-color;
}

.app-black-color {
  color: $app-black-color;
}

app-burger {
  color: $app-black-color;
}

.app-primary-interactive {
  color: $app-primary-color;
  cursor: pointer;
  &:hover {
    color: $app-primary-color-hover;
    transition: color $app-transition;
  }
  &:active {
    color: $app-primary-color-click;
    transition: color $app-transition;
  }
}

.app-black-interactive {
  color: $app-black-color;
  cursor: pointer;
  &:hover {
    color: $app-black-color-hover;
    transition: color $app-transition;
  }
  &:active {
    color: $app-black-color-click;
    transition: color $app-transition;
  }
}

.app-white-interactive {
  color: $app-white-color;
  cursor: pointer;
  &:hover {
    color: $app-white-color-hover;
    transition: color $app-transition;
  }
  &:active {
    color: $app-white-color-click;
    transition: color $app-transition;
  }
}
