<div class="app-card h-100 justify-content-between">
  <div>
    <app-stars class="mb-3 d-block" [stars]="review.stars"></app-stars>
    <p class="mb-3" style="overflow: hidden; display: -webkit-box; -webkit-line-clamp: 6; -webkit-box-orient: vertical;">{{review.message}}</p>
  </div>
  <div>
    <a class="d-inline-flex gap-3 align-items-center">
      <app-yandex-icon appNavigateYandexMap *ngIf="review.reviewPlatform === 'yandex'"/>
      <app-twogis-icon appNavigate2gisMap style="font-size: 3rem" *ngIf="review.reviewPlatform === '2gis'"/>
      <app-google-icon appNavigateGoogleMap *ngIf="review.reviewPlatform === 'google'"></app-google-icon>
      <div>
        <p class="app-caption">{{review.date | date}}</p>
        <p class="fw-medium">{{review.name}}</p>
      </div>
    </a>
  </div>
</div>
