<!--<div class="p-5 app-black-color d-flex flex-column gap-3">-->
<!--  <h3>Связаться с нами</h3>-->
<!--  <p>Оставьте свои контактные данные и наши менджеры свяжутся-->
<!--    с Вами в течение 15 минут для уточнения деталей заказа.</p>-->
<!--  <app-input [inputConfig]="{label: 'Ваше имя', type: 'text'}"/>-->
<!--  <app-input [inputConfig]="{label: 'Ваш номер', type: 'tel'}"/>-->
<!--  <div class="d-flex justify-content-between gap-3">-->
<!--    <div class="d-flex align-items-center form-check">-->
<!--      <label><input type="checkbox" class="form-check-input"> Я согласен с правилами <a>обработки персональных данных</a></label>-->
<!--    </div>-->
<!--    <button (click)="modal.close()">Отправить</button>-->
<!--  </div>-->
<!--</div>-->
