<ng-template #h>О <span class="app-primary-color">нас</span></ng-template>

<app-main-page-section [sectionHeader]="h">
  <div>
    <p class="mb-3">
      <span class="fw-medium h5"><span class="app-primary-color">MRF : </span>Service & Store</span> - сервисный центр, мы предлагаем услуги по ремонту телефонов, ноутбуков и компьютеров. Наша команда опытных техников обладает глубокими знаниями и навыками в области ремонта электроники, и мы гордимся своей способностью быстро и эффективно восстанавливать неисправности устройств. Кроме того у нас вы можете приобрести аксессуары для своего устройства с гарантией.
    </p>
    <p class="fw-medium h5 mb-2">Наши преимущества</p>
    <ul>
      <li>Быстрый и качественный ремонт.</li>
      <li>Бесплатная срочная диагностика устройства.</li>
      <li>Установка программ: виндовс, майкрософт ворд и другие.</li>
      <li>Гарантия на все виды работ.</li>
      <li>Есть курьерская служба доставки.</li>
    </ul>
    <p>Звоните и приходите в сервисный центр! Будем рады вас видеть и готовы помощь в решении любой задачи, связанной с ремонтом телефона, ноутбука или компьютера.</p>
  </div>
</app-main-page-section>
