<ng-template #h>О <span class="app-primary-color">нас</span></ng-template>

<app-main-page-section [sectionHeader]="h">
  <div>
    <p class="mb-3">
      <span class="fw-medium h5"><span class="app-primary-color">MRF : </span>Service & Store</span> - тот сервисный центр и магазин, который Вы действительно заслуживаете. У нас очень строгий регламент компании, от которого мы не отходим ни на шаг и действительно высокий класс обслуживания клиентов, мы созданы для тех, кто привык к особому отношению. Мы предлагаем широкий спектор услуг: ремонт телефонов, планшетов, ноутбуков, компьютеров а так-же продаём аксессуары и технику с ОАЭ (Объединённые Арабские Эмираты). Так-же мы предоставляем небольшой спектор копировальных услуг. При принятии устройства на ремонт, мы подписываем приёмную квитанцию, а по факту выполненных работ, выдадим акт выполненных работ, с железобетонной гарантией 12 месяцев на всё.
    </p>
    <p class="fw-medium h5 mb-2">Наши преимущества</p>
    <ul>
      <li>Быстрый и качественный ремонт.</li>
      <li>Бесплатная срочная диагностика устройства.</li>
      <li>Установка программ: виндовс, майкрософт ворд и другие.</li>
      <li>Гарантия на все виды работ.</li>
      <li>Есть курьерская служба доставки.</li>
    </ul>
    <p>Звоните и приходите в сервисный центр! Будем рады вас видеть и готовы помощь в решении любой задачи, связанной с ремонтом телефона, ноутбука или компьютера.</p>
  </div>
</app-main-page-section>
