<ng-template #copyIcon><app-printer-icon/></ng-template>
<ng-template #airpods><app-airpods-icon/></ng-template>
<ng-template #smartphone><app-smartphone-icon/></ng-template>
<ng-template #computer><app-computer-icon/></ng-template>
<ng-template #windows><app-windows-icon/></ng-template>
<ng-template #premium><app-premium-icon/></ng-template>


<ng-template #h>Наши <span class="app-primary-color">услуги</span></ng-template>

<app-main-page-section [sectionHeader]="h">
  <div class="row align-items-stretch row-gap-4">

    <app-main-page-services-item
      class="col-12 col-sm-6 col-lg-4"
      title="Профессиональная чистка динамиков"
      payload="Почистим динамики на Вашем устройстве."
      price="Бесплатно"
      [icon]="airpods"/>

    <app-main-page-services-item
      class="col-12 col-sm-6 col-lg-4"
      title="Ремонт смартфонов"
      payload="Ремонт смартфонов любой сложности. Замена АКБ, основной и фронтальной камеры. Переклейка дисплея, замена модуля экрана и так далее."
      price="от 0 ₽"
      [icon]="smartphone"/>

    <app-main-page-services-item
      class="col-12 col-sm-6 col-lg-4"
      title="Аксессуары для смартфона"
      payload="Вы можете купить у нас аксессуары для вашего смартфона: чехол, кабель, блок питания, гидрогелевую плёнку Hoco, защитное стекло и так далее."
      price="от 49 ₽"
      [icon]="premium"/>

    <app-main-page-services-item
      class="col-12 col-sm-6 col-lg-4"
      title="Ремонт ноутбуков и компьютеров"
      payload="Чистка устройства и замена термопасты на Arctic MX-4, и ремонт любой сложности."
      price="от 799 ₽"
      [icon]="computer"/>

    <app-main-page-services-item
      class="col-12 col-sm-6 col-lg-4"
      title="Установка программ"
      payload="Установка Windows, MacOS, Microsoft Office 2021 Pro Plus и другие программы по запросу. С лицензией и гарантией 91 день."
      price="от 49 ₽"
      [icon]="windows"/>

    <app-main-page-services-item
      class="col-12 col-sm-6 col-lg-4"
      title="Копировальные услуги"
      payload="Печать ч/б документов, сканирование документов, возможность приобрести файлы BRAUBERG и ручки BEIFA. До 24:00 с возможностью доставки нашим курьером."
      price="от 5 ₽"
      [icon]="copyIcon"/>
  </div>
</app-main-page-section>
