<ng-template #copyIcon><app-printer-icon/></ng-template>
<ng-template #airpods><app-volume-icon/></ng-template>
<ng-template #smartphone><app-smartphone-icon/></ng-template>
<ng-template #computer><app-computer-icon/></ng-template>
<ng-template #windows><app-windows-icon/></ng-template>
<ng-template #premium><app-premium-icon/></ng-template>


<ng-template #h>Наши <span class="app-primary-color">услуги</span></ng-template>

<app-main-page-section [sectionHeader]="h">
  <div class="row align-items-stretch row-gap-4">

    <app-main-page-services-item
      class="col-12 col-sm-6 col-lg-4"
      title="Профессиональная чистка динамиков"
      payload="Почистим динамики на Вашем устройстве."
      price="Бесплатно"
      [icon]="airpods"/>

    <app-main-page-services-item
      class="col-12 col-sm-6 col-lg-4"
      title="Ремонт смартфонов и планшетов"
      payload="Ремонт любой сложности. От замены аккумуляторной батареи до переклейки дисплейного модуля и прочие услуги."
      price="от 0 ₽"
      [icon]="smartphone"/>

    <app-main-page-services-item
      class="col-12 col-sm-6 col-lg-4"
      title="Аксессуары для смартфонов и новая техника"
      payload="Вы можете купить у нас любые аксессуары для Вашего смартфона, а так-же новую технику с железобетонной гарантией 12 месяцев."
      price="от 49 ₽"
      [icon]="premium"/>

    <app-main-page-services-item
      class="col-12 col-sm-6 col-lg-4"
      title="Ремонт ноутбуков и компьютеров"
      payload="Чистка устройства и замена термопасты на Arctic MX-4, и ремонт любой сложности."
      price="от 799 ₽"
      [icon]="computer"/>

    <app-main-page-services-item
      class="col-12 col-sm-6 col-lg-4"
      title="Установка программ"
      payload="От установки Windows до Microsoft Office 2021 Pro Plus и другие программы по запросу. С лицензией и гарантией 91 день."
      price="от 49 ₽"
      [icon]="windows"/>

    <app-main-page-services-item
      class="col-12 col-sm-6 col-lg-4"
      title="Копировальные услуги"
      payload="Печать ч/б документов, сканирование документов, возможность приобрести файлы BRAUBERG и ручки BEIFA. С 10:00 до 00:00 с возможностью доставки курьером."
      price="от 5 ₽"
      [icon]="copyIcon"/>
  </div>
</app-main-page-section>
