<ng-template #h>Наши <span class="app-primary-color">услуги</span></ng-template>
<app-main-page-section [sectionHeader]="h">
<!--  <div class="row">-->
<!--    <div class="col-12 col-md-6">-->
<!--      <app-main-page-services-item [price]="400">Печать ч/б документов, белая бумага</app-main-page-services-item>-->
<!--      <app-main-page-services-item [price]="400">Печать ч/б документов, белая бумага</app-main-page-services-item>-->
<!--      <app-main-page-services-item [price]="400">Печать ч/б документов, белая бумага</app-main-page-services-item>-->
<!--      <app-main-page-services-item [price]="400">Печать ч/б документов, белая бумага</app-main-page-services-item>-->
<!--    </div>-->
<!--    <div class="col-12 col-md-6">-->
<!--      <app-main-page-services-item [price]="400">Печать ч/б документов, белая бумага</app-main-page-services-item>-->
<!--      <app-main-page-services-item [price]="400">Печать ч/б документов, белая бумага</app-main-page-services-item>-->
<!--      <app-main-page-services-item [price]="400">Печать ч/б документов, белая бумага</app-main-page-services-item>-->
<!--      <app-main-page-services-item [price]="400">Печать ч/б документов, белая бумага</app-main-page-services-item>-->
<!--    </div>-->
<!--  </div>-->
  <div class="app-card" style="height: 1000px"></div>
</app-main-page-section>
