<footer class="app-bg-primary-dark-color">
  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-12 col-sm-6 col-lg-4">
        <app-logo class="d-block mb-4" colorMode="white"></app-logo>
        <p class="app-caption" style="font-size: 0.675rem">Сайт носит сугубо информационный характер и не является публичной офертой, определяемой Статьей 437 (2) ГК РФ. Для улучшения качества обслуживания ваш разговор может быть записан. Представленные на сайте товарные знаки используются с правомерной информационной и описательной целью.</p>
      </div>
    </div>
  </div>
</footer>
