<footer class="app-bg-primary-dark-color app-white-color">
  <div class="container-fluid py-4">
    <div class="row row-gap-4">
      <div class="col-12 col-md-5">
        <app-logo class="d-block mb-4" colorMode="white"></app-logo>
        <p class="app-caption mb-2" style="font-size: 0.675rem">Сайт носит сугубо информационный характер и не является публичной офертой, определяемой Статьей 437 (2) ГК РФ. Для улучшения качества обслуживания ваш разговор может быть записан. Представленные на сайте товарные знаки используются с правомерной информационной и описательной целью.</p>
        <div class="app-caption">
          <p>ИП Фарахов Марсель Радикович</p>
          <p>ОГРН 323169000057001</p>
        </div>
      </div>
      <div class="col-12 col-sm-4 col-md-3">
        <h3 class="mb-3">Навигация</h3>
        <div class="d-flex flex-column gap-2">
          <a>Главная</a>
          <a>Услуги</a>
          <a>Отзывы</a>
        </div>
      </div>
      <div class="col-12 col-sm-8 col-md-4">
        <h3 class="mb-2">Контакты</h3>
        <app-yandex-badge class="d-block"/>
        <div class="d-flex gap-3 align-items-center">
          <app-number class="d-block fw-medium"></app-number>
          <app-contact-circles class="d-flex gap-2"></app-contact-circles>
        </div>
        <p>{{info.address}}</p>
        <p>{{info.workTime}}</p>
      </div>
    </div>
    <hr class="my-2">
    <p class="app-caption">© 2023 MRF: Service & Store. Все права защищены.</p>
  </div>
</footer>
